**/*.a
**/*.o
**/.next
**/CMakeCache.txt
**/node_modules
.git
examples
node_modules
packages/**/bun-profile
src/bun.js/WebKit
src/bun.js/WebKit/LayoutTests
build
target
vendor
node_modules
*.trace

packages/bun-uws/fuzzing
